@import './variables';

ul {
  list-style: none;
  padding: 0;
}

button {
  border-style: none;
  padding: 0;
  background-color: transparent;
}

input {
  background-color: transparent;
  border: none;
}

body {
  background-color: $tertiary-color;
}

body {
  font-family: 'Rubik', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
