// Main colors
$primary-color: #D54227;
$secondary-color: #212121;
$tertiary-color: #EFF2F9;

//Taking action colors
$taking-action-1: #7CBAE3;
$taking-action-2: #FFD345;
$taking-action-3: #69CB8B;

//Base colors
$base-color-dark: $secondary-color;
$base-color-light: $tertiary-color;
$base-color-light-2: #6C7F95;
$base-color-light-3: #FFFFFF;
